body {
	margin:0;
	background-color:#FFFAEC;
	font-family:Helvetica;
}
li a:hover:not(.currentPage){
	background-color:#ECB046;
}
header {
	text-align:center;
	background-color: #FFCC33;
	margin-top: 45px;
	padding: 10px;
	color:#FFFFFF;
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC4F86;
	position:fixed;
	top:0;
	width:100%;
}
li{
	float:left;
}
 li a{ 
	display:block;
	padding: 14px 16px;
	text-align:center;
	color:white;
	text-decoration:none;
}
.currentPage{
	background-color:#FFCC33;
	overflow:hidden;
}
.column {
    float: left;
    padding: 0px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    h1{
		margin-top:90px;
	}
}
.content{
	padding: 10px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	background-color:#FFFFFF;
}
